table {
    width: 100%;
    border-collapse: collapse;
}

thead td {
    text-transform: uppercase;
    font-weight: bold;
    color: $text-hint;
}

table td {
    padding: 12px;
}

table td.no-border {
    border: 0;
}